.mdc-button {
    font-size: 24pt;
    color: black;
}

.timeline-grid {
    display: flex;
}

.emojis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0;
}

i {
    font-size: 24pt;
}

canvas {
    overflow-x: auto;
}