<div class="join-the-brag-page">
  <menu></menu>
  <title></title>
  <div class="buttons-div">
    <button id="become" class="mdc-button active-btn" (click)="becomeABragger()">Become a bragger</button>
    <button id="suggest" class="mdc-button" (click)="suggestABragger()">Suggest a bragger</button>
  </div>
  <div class="form-div">
    <div class="form-info-div">
        <h3>Your information:</h3>
        <label class="mdc-text-field mdc-text-field--upgraded">
            <input type="text" class="mdc-text-field__input" 
                   (focus)="onFocus($event)" 
                   (blur)="onBlur($event)" 
                   required>
            <span class="mdc-text-field__label">First Name</span>  
        </label>
        <label class="mdc-text-field mdc-text-field--upgraded">
            <input type="text" class="mdc-text-field__input" 
                   (focus)="onFocus($event)" 
                   (blur)="onBlur($event)" 
                   required>
            <span class="mdc-text-field__label">Last Name</span>
        </label>
        <label class="mdc-text-field mdc-text-field--upgraded">
            <input type="text" class="mdc-text-field__input" 
                   (focus)="onFocus($event)" 
                   (blur)="onBlur($event)" 
                   required>
            <span class="mdc-text-field__label">Email</span>
        </label>
    </div>
    <div class="form-info-div">
      <h3 class="disabled-txt">Their information:</h3>
        <label class="mdc-text-field mdc-text-field--upgraded mdc-text-field--disabled">
            <input type="text" class="mdc-text-field__input" disabled>
            <span class="mdc-text-field__label">First Name</span>
        </label>
        <label class="mdc-text-field mdc-text-field--upgraded mdc-text-field--disabled">
            <input type="text" class="mdc-text-field__input" disabled>
            <span class="mdc-text-field__label">Last Name</span>
        </label>
    </div>
    <button class="mdc-button mdc-button--raised disabled-btn" (click)="submit()" disabled>Submit</button>
  </div>
</div>
