.join-the-brag-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu {
    margin-bottom: 0;
    padding: 0;
}

title {
    display: block;
}

.buttons-div {
    font-size: 1.125em;
    font-weight: lighter;
    color: var(--primary-grey);
 }

 .mdc-button {
    border-width: 0;
    margin: 10px;
    color: var(--secondary-blue);
    font-size: 18px;
    font-weight: lighter;
}

.mdc-button:focus {
    outline: none;
    border: 0;
 }

 .active-btn {
    color: white;
    background: var(--secondary-blue);
 }

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 500px;
    align-items: center;
}

.form-info-div {
    margin-bottom: 20px;
    width: 100%;
}

.disabled-form > h3 {
    color:  var(--secondary-grey);
}

h3 {
    color: var(--primary-grey);
    font-weight: 500;
    font-size: 1.125em;
    margin-bottom: 0;
    text-align: center;
}

.mdc-text-field {
    width: 100%;
}

.mdc-text-field:not(.mdc-text-field--invalid):not(.mdc-text-field--valid):hover > span {
    color: var(--secondary-blue);
}

.mdc-text-field-focus > span {
    color: var(--secondary-blue);
}

.mdc-text-field:not(.mdc-text-field--invalid):hover > input {
    border-color: var(--secondary-blue);
}

.mdc-text-field__input:focus {
    border-color: var(--secondary-blue);
}

.mdc-text-field--textarea:hover {
    border-color: var(--secondary-blue);
}

.mdc-text-field--textarea.mdc-text-field--focused {
    border-color: var(--secondary-blue);
}

.mdc-button--raised {
    border-width: 0;
    margin: 10px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 1.125em;
    font-weight: lighter;
    width: 100px;
    height: 40px;
}

.mdc-button--raised:focus {
    outline: none;
    border: 0;
 }

.disabled-btn {
    background-color: var(--secondary-grey);
}
