.menu-div {
    display: flex;
    justify-content: center;
    font-size: 100%;
    flex-wrap: wrap;
}
.mdc-button {
    color: #00B5E2;
    font-size: 1.125em;
    font-weight: lighter;
}

.active {
    color: white;
    background: #00B5E2;
}

.disabled {
    color:  #B1B3B3;
}