<div class="menu-div">
    <button id="home" class="mdc-button" (click)="goHome()">Home</button>
    <button id="sessions" class="mdc-button disabled" (click)="goToSessions()" disabled>Sessions</button>
    <button id="braggers" class="mdc-button" (click)="goToBraggers()">Braggers</button>
    <button id="become" class="mdc-button disabled" (click)="goToBecome()" disabled>Become a Bragger</button>
    <button id="suggest" class="mdc-button disabled" (click)="goToSuggest()" disabled>Suggest a Bragger</button>
</div>