h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 10px;
    color: var(--primary-blue);
}

h3 {
    font-weight: lighter;
    font-size: 20px;
    padding-right: 10px;
    text-align: right;
    color: var(--secondary-blue);
}