h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
}

.bragger-div {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.mdc-button--raised {
    border-width: 0;
    background-color: white;
    color: black;
    font-size: 14pt;
    height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    margin: 6px 8px;
}