.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

title {
    display: block;
}

.home-div {
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}

.mdc-button--raised {
    border-width: 0;
    background-color: white;
    height: 200px;
    width: 350px;
    margin: 10px;
    color: #63666A;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.mdc-button--raised:focus {
    outline: none;
    border: 0;
 }