.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #005EB8;
}

h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
    font-size: 52px;
    margin-bottom: 0;
}

h3 {
    font-weight: lighter;
    font-size: 20px;
    padding-right: 10px;
    text-align: right;
}

.bragger-div {
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}

.mdc-button--raised {
    border-width: 0;
    background-color: white;
    height: 300px;
    width: 500px;
    margin: 10px;
    color: black;
    display: flex;
    text-align: left;
}

.mdc-button--raised:focus {
    outline: none;
    border: 0;
 }

 img {
     height: 274px;
     margin: 10px;
 }