.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

title {
    display: block;
}

.bragger-div {
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}

.mdc-button--raised {
    border-width: 0;
    background-color: white;
    min-height: 300px;
    min-width: 450px;
    margin: 10px;
    color: #63666A;
    display: flex;
}

.mdc-button--raised:focus {
    outline: none;
    border: 0;
 }

 .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    max-height: 274px;
    overflow: hidden;
    margin: 10px;
 }

 .img-div img {
    height: 300px;
    width: auto;
    flex-shrink: 0;
 }

 .bragger-info-div {
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    max-width: 210px;
 }

 .bragger-name {
     font-weight: 500;
 }