.mdc-button {
    color: #63666A;
    margin-top: 5px;
}

.timeline-grid {
    display: flex;
    margin-top: 25px;
}

.emojis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    color: #63666A;
    margin-left: 19px;
}

i {
    font-size: 24pt;
    vertical-align: middle;
}

canvas {
    overflow-x: auto;
}