/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@material/button/dist/mdc.button.css";
@import "../node_modules/@material/form-field/dist/mdc.form-field.css";
@import "../node_modules/@material/textfield/dist/mdc.textfield.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    font-family: sans-serif;
    --primary-blue: #005EB8;
    --secondary-blue: #00B5E2;
    --primary-grey: #63666A;
    --secondary-grey: #B1B3B3;
}

/* responsive design */

 /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

 @media only screen 
 and (min-device-width: 320px)
 and (max-device-width: 568px)
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 2) {
    body {
        width: 304px;
    }
 }

 /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

 @media only screen 
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation: portrait) 
 and (-webkit-min-device-pixel-ratio: 2) { 
    body {
        width: 359px;
    }
 }

 /* ----------- iPhone 6+, 7+ and 8+ ----------- */

 @media only screen 
 and (min-device-width: 414px) 
 and (max-device-width: 736px) 
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 3) { 
    body {
        
    }
}