/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    font-family: sans-serif;
    --primary-blue: #005EB8;
    --secondary-blue: #00B5E2;
    --primary-grey: #63666A;
    --secondary-grey: #B1B3B3;
}