<div class="braggers-page">
    <menu></menu>
    <title></title>    
    <div class="bragger-div">
        <button mat-raised-button class="bragger-btn" *ngFor="let bragger of braggers" (click)="goToTimeline(bragger)">
            <div class="img-div" [ngSwitch]="bragger.imgName == null">
              <img *ngSwitchCase="true" src="./assets/img/default.png">
              <img *ngSwitchCase="false" src="./assets/img/{{bragger.imgName}}">
            </div>  
            <div class="bragger-info-div">
              <p class="bragger-name">{{bragger.name}}</p>
              <p>{{bragger.jobTitle}}</p>
              <p>{{bragger.bu}}</p>
              <p>Career length: {{bragger.careerLength}}+</p>
            </div>
          </button>
      </div>
</div>