.braggers-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

menu {
    margin-bottom: 0;
    padding: 0;
}

title {
    display: block;
}

.bragger-div {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 50px);
}

.mdc-button--raised {
    display: flex;
    border-width: 0;
    margin: 10px;
    background-color: white;
    color: var(--primary-grey);
    text-align: left;
    font-size: 1.25em;
    width: 419px;
}

.mdc-button--raised:focus {
    outline: none;
    border: 0;
 }

 .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    max-height: 274px;
    overflow: hidden;
    margin: 10px;
 }

 .img-div img {
    height: 300px;
    width: auto;
    flex-shrink: 0;
 }

 .bragger-info-div {
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    width: 185px;
 }

 .bragger-info-div p {
    margin-bottom: 0;
 }

 .bragger-name {
     font-weight: 500;
 }

 /* responsive design */

 /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

 @media only screen 
 and (min-device-width: 320px) 
 and (max-device-width: 568px)
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 2) {
    .braggers-page {
        width: 100%
    }
    .bragger-div {
        width: 100%;
    }
    .mdc-button--raised {
        width: 100%;
        padding: 0;
    }
    .img-div {
        width: 255px;
        margin: 10px 5px;
    }
    .bragger-info-div {
        font-size: 16px;
    }
 }

 /* ----------- iPhone 6+, 7+ and 8+ ----------- */

 @media only screen 
 and (min-device-width: 414px) 
 and (max-device-width: 736px) 
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 3) { 
    .img-div {
        width: 185px;
        margin: 10px;
    }
}

 @media (min-width: 944px) {
    .bragger-div {
        justify-content: flex-start;
        width: 879px;
    }
 }

 @media (min-width: 1383px) {
     .bragger-div {
         justify-content: flex-start;
     }
 }

 @media (min-width: 1400px) {
    .bragger-div {
        justify-content: flex-start;
        width: 1335px;
    }
}